<section class="score-board"
         [ngClass]="{
            single: singleMode,
            double: !singleMode,
            transferrable: transferState !== null,
            nbc: appearance ==='nbc'
          }">
  <div class="container" *ngFor="let playerPrize of playerPrizes, index as i" [ngClass]="'player-' + i">
    <h3 [class.current]="i === activeIndex">{{playerPrize.player}}</h3>
    <ul>
      <li @insertRemoveTrigger *ngFor="let prize of playerPrize.prizes" (click)="executeTransfer(prize, i)">
        <span class="marker" [class.duplicate]="prize.duplicate"><span *ngIf="prize.duplicate">&radic;</span></span>
        <span class="prize">{{prize.prize}}</span>
      </li>
    </ul>
  </div>
</section>
