h1 {
  font-size: 1.7em;
  color: #000;
  margin: 0;
  padding: .3em .65em;
  background: linear-gradient(to bottom, #B8B8B8, #777777);
  border-bottom: 1px solid #FFF;

  .header-presents {
    display: block;
    font-size: .4em;
    margin: -.5em 0;

    a {
      transition: color .5s;

      &:link, &:visited {
        color: #000;
      }

      &:active, &:hover {
        color: #FFF
      }
    }
  } // end, header-presents

  .header-title {
    margin-left: 2em;
    font-style: italic
  } //end, header-title


}

