<form [formGroup]="solutionForm" id="solutionForm" (ngSubmit)="checkSolution($event)" >
  <div class="solution-container">
    <div>
      <label for="solution">Can you tell us what the puzzle says?</label>
      <input type="text" formControlName="solution" id="solution" #solutionInput size="50">
    </div>
    <div class="solution-buttons">
      <button type="submit" (click)="checkSolution($event)" [disabled]="solutionForm.invalid">OK</button>
      <button *ngIf="!showGiveUp" type="button" (click)="cancelSolve()">No</button>
      <button *ngIf="showGiveUp" type="button" (click)="giveUp()">Give Up</button>
    </div>

  </div>
</form>

