<main>
  <ca-name-entry @insertRemoveTrigger *ngIf="!initialized"
                 (playerData)="acceptPlayerData($event)"></ca-name-entry>

  <!-- Main game area -->
  <div id="game-set" @insertRemoveTrigger *ngIf="initialized" [class.single]="singleMode">

    <div class="end-game__container">
      <button class="btn_end-game" @insertRemoveTrigger *ngIf="showEndGame" type="button" (click)="giveUp()">End Game
      </button>
    </div>

    <div class="game-set__container">
      <div id="game-area">
        <div id="gameboard">
          <ca-game-option (optionChanged)="acceptGameOptions($event)"></ca-game-option>
          <!-- test commit -->
          <div id="board">
            <ca-trilon *ngFor="let trilon of trilonArray; index as i" [trilonData]="trilon"
                       [puzzleUrl]="currentPuzzle.url" (click)="handleTrilonClick(trilon)"
                       [ngClass]="{narz: gameOptions?.narzAppearance, blumenthal: gameOptions?.blumenthalPuzzles}"
                       [puzzleUrlHiRes]="currentPuzzle.urlRetina"></ca-trilon>
          </div>
        </div>

        <div class="message-container">
          <p @insertRemoveTrigger *ngIf="!!message" id="message">{{message}}</p>
        </div>
        <p @insertRemoveTrigger *ngIf="!!explanation" id="explanation">{{explanation}}</p>

        <div *ngIf="!explanation" class="solution-placeholder">
          <div @insertRemoveTrigger *ngIf="solutionFormVisible">
            <ca-solution-entry [showGiveUp]="showGiveUp" (solutionProposed)="acceptSolution($event)"
                               (giveUpGame)="giveUp()"></ca-solution-entry>
          </div>
        </div>

        <form class="end-form" @insertRemoveTrigger *ngIf="showEndForm">
          <p>Here's the full puzzle. Click your name to enter the solution.</p>
          <div>
            <button type="button" *ngFor="let player of players, index as i"
                    (click)="acceptFinalName(i)">{{player}}</button>
          </div>
        </form>
      </div><!-- end, game board area -->

      <div id="contestants">
        <ca-scoreboard [players]="players" [singleMode]="singleMode" [activeIndex]="activeIndex"
                       [otherIndex]="otherIndex" (sentMessage)="setMessage($event)"></ca-scoreboard>
        <div id="playagain-div" class="inner" @insertRemoveTrigger *ngIf="showPlayAgain">
          <button type="button" (click)="playAgain()">Play Again</button>
        </div>
      </div><!-- end, contestants area --></div>

  </div><!-- end, game set -->
</main>
