@import "variables";
@import "mixins";
@import "functions";



:host {
  --board-height: 390px;
  --board-width: 500px;
  --number-gap: 2px;

  @media only screen and (max-width: 600px) {
    --board-height: 246px;
    --board-width: 310px;
    --number-gap: 2px;
  }

  @media only screen and (min-width: 1500px) {
    --board-height: 585px;
    --board-width: 750px;
    --number-gap: 3px;
  }
}

/* Overall container for board and score...the show's set */
#game-set {
  width: 80%;
  min-width: 990px;
  margin: 0 auto;
  overflow: auto;
  min-height: 650px;

  &.single {
    min-width: 850px;
  }

  .game-set__container {
    padding-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.end-game__container {
  text-align: right;
  height: 30px;
  margin: 20px 0 10px auto;
}

#game-area {
  width: 60%;
  min-width: 530px;
}

/* Area surrounding the actual board */
#gameboard {
  position: relative;
  border: 1px solid;
  border-color: #EFEFEF #C0C0C0 #C0C0C0 #EFEFEF;
  background: #F0F0F0;
  background: linear-gradient(to bottom, #D8D8D8, #F0F0F0, #C8C8C8);
  border-radius: .8em;
  margin: 0 auto 30px;
  width: var(--board-width);
  height: var(--board-height);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, .5);
  padding: 15px;

  ca-game-option {
    position: absolute;
    left: 0;
    top: -30px;
  }
}

.puzzle-author {
  text-align: right;
  font-size: 12px;
  margin: 24px 0 12px;
}

#board {
  perspective: 2800px;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: var(--number-gap);
  position: relative;
  left: 0;
  top: 0;
  margin: 0;
  background: #000;
  border: 2px solid #000;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}

.message-container {
  height: 30px;
  width: 100%;
}

button {
  @include basic-button;
  transition: all .25s;

  &:hover:not([disabled]) {
    box-shadow: none;
  }

  white-space: nowrap;
}

.end-form {
  width: 500px;
  border: 1px solid #E5E5E5;
  padding: 12px;
  margin: 1em auto;
  border-radius: .5em;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, .3);
  background: #E8E8E8;
  background: linear-gradient(to bottom, #E0E0E0, #E8E8E8, #DFDFDF);

  div {
    display: flex;
    justify-content: space-between;
  }

  button {
    flex: 0 0 calc(50% - 10px);
  }
}

#message,
#explanation {
  background: rgba(255, 255, 255, .4);
  font-weight: 600;
  font-size: 1em;
  border-radius: 16px;
  width: 500px;
  margin: auto auto 1em;
  padding: 0 8px;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #game-set {
    padding-top: 0;
    width: calc(100% - 40px);
    min-width: unset !important;

    .game-set__container {
      padding-top: 0;
      flex-direction: column;
    }
  }

  #game-area {
    width: 60%;
    min-width: 100%;
  }

  #gameboard {
    padding: 8px;
    border-radius: 4px;
  }

  #board {
    border: 2px solid #000;
    width: calc(100% - 1px);
    height: calc(100% - 2px);
  }

  .puzzle-author {
    font-size: 12px;
    margin: 12px 0 18px;
  }

  #message,
  #explanation {
    width: 320px;
    max-width: calc(100% - 30px);
    font-size: .9em;
  }

  .solution-placeholder {
    height: 120px;
  }

  #playagain-div {
    margin-bottom: 16px;
  }
}

@media only screen and (min-width: 1500px) {
  #game-set {
    width: calc(100vw - 100px);
    min-width: 990px;
    min-height: 650px;
  }


  #game-area {
    width: calc(100% - 235px);
  }

  #gameboard {
    border-radius: .6em;
    margin: 0 auto 30px;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, .5);
    padding: 15px;

    ca-game-option {
      position: absolute;
      left: 0;
      top: -30px;
    }
  }

  #board {
    padding: 2px 0 0 2px;
    width: calc(100% - 1px);
    height: calc(100% - 4px);
  }

  #message,
  #explanation,
  {
    width: 750px;
    max-width: calc(100% - 30px);
  }

  .solution-placeholder {
    height: 120px;
  }
}
